# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*

# Transpiled code
build/

# virtualenv
venv/

# macOS
.DS_Store
